.header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.left-section{
    display: flex;
    align-items: center;
    width: 160px;
}
.middle-section{
    flex: 1;
    max-width: 500px;
    display: flex;
    height: 40px;
    margin-left: 30px;
}
.right-section{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    flex-shrink: 0;
}
.hamburger-logo{
    margin-left: 14px;
    width: 24px;
    margin-right: 25px;
    margin-bottom: 14px;
}
.youtube-logo{
    width: 90px;
    margin-bottom: 14px;
}
.search-bar{
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    box-shadow: inset 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    width: 0;
    padding-left: 10px;
}
.search-bar::placeholder{
    font-family: Roboto;
    font-size: 16px;
}
.search-button{
    width: 60px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    margin-left: -1px;
}
.voice-button{
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(235, 233, 233);
}
.search-logo{
    margin-right: 2px;
    margin-top: 4px;
    width: 24px;
    padding-top: 2px;
    padding-left: 2px;
}
.voice-logo{
    width: 22px;
    margin-top: 4px;
    padding-top: 3px;
}
.upload-logo{
    width: 26px;
    margin-left: 20px;
}
.apps-logo{
    width: 26px;
}
.notifications-logo{
    width: 26px;
}
.my-channel{
    margin-top: 5px;
    margin-right: 20px;
    width: 26px;
    border-radius: 50%;
}
.search-button,.voice-button,.right-tool1,.right-tool2,.right-tool3{
    position: relative;
    display: flex;
    justify-content: center;
}
.search-button:hover,.voice-button:hover,.right-tool1:hover,.right-tool2:hover,.right-tool3:hover{
    .tip-tool{
        opacity: 1;
    }
}
.right-tool1 .tip-tool,.right-tool2 .tip-tool,.right-tool3 .tip-tool{
    bottom: -46px;
    font-family: Roboto,Arial;
    font-size: 12px;
}
.right-tool1,.right-tool2,.right-tool3{
    display: flex;
    justify-content: center;
}
.tip-tool{
    white-space: nowrap;
    position: absolute;
    background-color: rgb(110, 110, 110);
    color: white;
    font-family: Roboto,Arial;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    opacity: 0;
    pointer-events: none;
    border-radius: 4px;
    bottom: -40px;
}