.header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.left-section{
    display: flex;
    align-items: center;
    width: 160px;
}
.middle-section{
    flex: 1;
    max-width: 500px;
    display: flex;
    height: 40px;
    margin-left: 30px;
}
.right-section{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    flex-shrink: 0;
}
.hamburger-logo{
    margin-left: 14px;
    width: 24px;
    margin-right: 25px;
    margin-bottom: 14px;
}
.youtube-logo{
    width: 90px;
    margin-bottom: 14px;
}
.search-bar{
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    box-shadow: inset 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    width: 0;
    padding-left: 10px;
}
.search-bar::placeholder{
    font-family: Roboto;
    font-size: 16px;
}
.search-button{
    width: 60px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 197, 197);
    margin-left: -1px;
}
.voice-button{
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(235, 233, 233);
}
.search-logo{
    margin-right: 2px;
    margin-top: 4px;
    width: 24px;
}
.voice-logo{
    width: 22px;
    margin-top: 4px;
}
.upload-logo{
    width: 30px;
    margin-left: 20px;
}
.apps-logo{
    width: 30px;
}
.notifications-logo{
    width: 30px;
}
.my-channel{
    margin-right: 20px;
    width: 30px;
    border-radius: 50%;
}